body {
  background-color: #282c34;
  color: white;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  text-align: center;
}

.container {
  display: flex;
  justify-content: space-evenly;
  align-items: stretch;
  /* Updated to stretch the panels */
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.left-panel {
  flex: 1;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.right-panel {
  flex: 1;
  padding: 20px;
  box-sizing: border-box;
}

.terminal {
  background-color: #000000;
  border: 1px solid #61dafb;
  border-radius: 5px;
  padding: 10px;
  position: relative;
}

textarea {
  width: 100%;
  height: 300px;
  background-color: #000000;
  color: #61dafb;
  border: none;
  resize: none;
  font-family: 'SFMono-Regular', Consolas, 'Liberation Mono', Menlo, Courier, monospace;
  font-size: 21px;
  line-height: 1.5;
  padding: 10px;
  outline: none;
  overflow: auto;
}

textarea:focus:placeholder {
  color: transparent;
}

textarea:focus {
  caret-color: #61dafb;
}

button {
  display: block;
  background-color: #61dafb;
  color: #282c34;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
}

button:hover {
  background-color: #4ec0e8;
}

.right-panel {
  position: relative;
}

.title-bar {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 8px;
  padding-bottom: 8px;
}

.title-bar span {
  display: inline-block;
  width: 12px;
  height: 12px;
  margin-right: 6px;
  border-radius: 50%;
}

.title-bar .close {
  background-color: #ff5f56;
}

.title-bar .minimize {
  background-color: #ffbd2e;
}

.title-bar .fullscreen {
  background-color: #27c93f;
}

.right-panel pre {
  background-color: #0000004d;
  color: #61dafb;
  padding: 10px 20px 20px;
  border-radius: 10px;
  white-space: pre-wrap;
  overflow-x: auto;
  font-family: 'SFMono-Regular', Consolas, 'Liberation Mono', Menlo, Courier, monospace;
  font-size: 19px;
  line-height: 1.5;
  max-height: 450px;
  position: relative;
}

.action-bar {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
}

select {
  background-color: #61dafb;
  color: #282c34;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  height: 36px;
  line-height: 36px;
}

select:hover {
  background-color: #4ec0e8;
}